.logo {
font-size: 50px;
font-weight:bolder;
padding:0px 0px 0px 100px;
}

.image{
display:block;
    padding:100px;
height: 5%;
/* width: 65 */
 margin-top: 0%;
}

ul{
display:flex;
flex-flow: row wrap;
justify-content: end;
list-style:none ;
padding-inline: 100px;

}










  